@mixin dropdown-above-header($enable: true) {
  @if $enable {
    & ul.primary-navigation ul.sub-menu {
      z-index: 2;
    }

    & .shadow-header {
      z-index: 0;
    }
  } @else {
    & ul.primary-navigation ul.sub-menu {
      z-index: 0;
    }

    & .shadow-header {
      z-index: 1;
    }
  }
}

@mixin pseudo-spacer(
  $position: absolute,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $width: null,
  $height: null
) {
  content: '';
  position: $position;
  display: block;
  background-color: transparent;

  @if $top != null {
    top: $top;
  }

  @if $right != null {
    right: $right;
  }

  @if $bottom != null {
    bottom: $bottom;
  }

  @if $left != null {
    left: $left;
  }

  @if $width != null {
    width: $width;
  }

  @if $height != null {
    height: $height;
  }
}



