header {
  position: relative;
  z-index: 1;
  @include dropdown-above-header;
}

.site-name {
  font-size: 28px;
  font-weight: 700;
}

@mixin menu-active() {
  background: $primary-color;
  cursor: pointer;
  box-shadow: none;
  color: white;
  &:after {
    border-top: 6px solid white;
  }
}

$hamburger-width: 30px;
$hamburger-height: 18px;
$line-height: 4px;
$line-color: #000;
$line-spacing: 18px;
$transition-speed: 0.3s;

.site-logo {
  text-decoration: none;
  box-shadow: none;
  outline: none;
  color: $primary-color;
}

.shadow-header {
  bottom: 0;
  background: inherit;
  width: 100%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  height: 100%;
  pointer-events: none;
}

.top-message {
  display: flex;
  color: white;
  padding: 15px 20px;
  font-size: 14px;
  background-color: $primary-color;
  justify-content: space-between;
}

.container {
  background: whitesmoke;
  padding: 0px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
