@use '../base';

.page-header {
  padding: 1rem;
  background: base.$colors-secondary;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  background-color: base.$colors-primary-dark;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.page-header-style-2 {
  padding: 1rem;
  background: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
background-color: #008080;
background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

