@use 'mixins';
@use 'variables';

%clear-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.primary-navigation.expanded {
  @extend %clear-list;
  display: flex;
  gap: 20px;

  // Prevents page overflow while JS is adjusting sub-menu going off the screen.
  /*  &:not(:has(*:hover)) {
    position: relative;
  } */
}

ul.primary-navigation.expanded .menu-item.level-0.mega-menu {
  border-radius: 8px;
  & .sub-menu-wrapper.level-1 {
    left: 0;
    right: 0;
    padding-inline: 20px;
    margin-inline: auto;
    width: fit-content;
    max-width: 1140px;
    width: 100%;
  }
}

ul.primary-navigation.expanded .sub-menu-wrapper {
  //background: red;
  height: 100%;
  &.level-1 {
    // background: orange;
    position: absolute;
    top: initial;
    padding-top: 20px;
    & > .sub-menu {
      position: relative;
    }
  }

  &.level-1 > .sub-menu > .menu-item-has-children {
    // background: greenyellow;
    position: relative;
  }

  &.level-2 {
    top: 0;
    left: 100%;
    position: absolute;
    //background: red;
    width: max-content;
    height: 100%;
    & > .sub-menu {
      height: 100%;
    }
  }
}

ul.primary-navigation.expanded ul.sub-menu {
  @extend %clear-list;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

ul.primary-navigation.expanded li.menu-item {
  &.level-0 > a {
    justify-content: center;
    align-items: center;
  }

  height: 100%;
  // On menu hover show sub-menu
  & > .sub-menu-wrapper {
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }

  &:hover > .sub-menu-wrapper,
  &.toggled-on > .sub-menu-wrapper {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  // On menu active
  &.toggled-on,
  &.current-menu-ancestor,
  &.current-menu-parent,
  &.current_page_item,
  &.current_page_ancestor {
    & > a {
      @include mixins.menu-active();
    }
  }
}

ul.primary-navigation.expanded li.menu-item > a {
  @include mixins.menu-normal();

  display: flex;
  align-items: start;
  gap: 12px;
  min-width: 140px;
  height: 100%;

  // On menu hover/focus
  &:hover,
  &:focus,
  &:has(.menu-dropdown-btn:focus) {
    @include mixins.menu-hover();
  }

  & > .link-content {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4px;
    & .menu-title,
    & .menu-description {
      white-space: nowrap;
    }

    & .menu-description {
      font-size: 14px;
    }
  }
}

ul.primary-navigation.expanded li.menu-item.toggled-on {
  & > a > .menu-dropdown-btn svg {
    transform: rotate(180deg);
  }

  & > a > .menu-dropdown-btn {
    background: rgba($color: #aac3cc, $alpha: 0.4);
  }
}

ul.primary-navigation.expanded li.menu-item > a .menu-dropdown-btn {
  all: unset;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:hover {
    background: rgba($color: #aac3cc, $alpha: 0.4);
  }

  & svg {
    width: 18px;
    transition: all 0.2s ease-in-out;
  }
}

ul.primary-navigation.expanded ul.sub-menu.level-1 {
  & a {
    text-align: center !important;
  }
  @include mixins.caret();
  // margin-top: variables.$dropdown-gap;
}

.customize-partial-edit-shortcut button,
.widget .customize-partial-edit-shortcut-widget-block-8 button {
  left: 0;
  top: 0;
}
