@use 'mixins';
@use 'variables';

ul.primary-navigation.expanded {
  display: flex;
  flex-direction: row;
  gap: 20px;

  & ul.sub-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    position: absolute;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
  }

  &,
  & ul.sub-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  & li.menu-item {
    width: 100%;
  }
}

ul.primary-navigation.expanded li.menu-item {
/*   &.menu-item-has-children {
    position: relative;
    & > a > .menu-title {
      &:after {
        content: '';
        border: 4px solid transparent;
        border-top: 6px solid grey;
        margin-left: 10px;
        margin-bottom: 4px;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  } */

  &:hover,
  &.current_page_item,
  &.current_page_ancestor {
    & > a {
      @include mixins.menu-active();
    }
  }

  &:hover {
    & > .sub-menu {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

ul.primary-navigation.expanded li.menu-item > a {
  @include mixins.menu-normal();
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  outline: none;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:has(.menu-dropdown-btn:focus) {
    @include mixins.menu-active();
  }

  & .link-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    gap: 8px;
    & .menu-title,
    & .menu-description {
      white-space: nowrap;
    }
  }
}

ul.primary-navigation.expanded li.menu-item.toggled-on {
  & > a {
    @include mixins.menu-active();
  }

  & > a > .menu-dropdown-btn svg {
    transform: rotate(180deg);
  }

  & > .sub-menu {
    transform: translateY(0);
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

ul.primary-navigation.expanded li.menu-item > a .menu-dropdown-btn {
  all: unset;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 0rem;
/*   &:hover {
    background: rgba($color: #aac3cc, $alpha: 0.4);
  }

  &:focus {
    z-index: 1;
    outline: 2px solid white;
  }
 */
  & svg {
    transition: all 0.2s ease-in-out;
  }
}

ul.primary-navigation.expanded li.menu-item.level-0 {
  position: initial;
  &.menu-item-has-children:hover {
    border-bottom: variables.$dropdown-gap solid transparent;
    margin-bottom: -(variables.$dropdown-gap);
  }
  &.mega-menu {
    position: initial;
    & ul.sub-menu.level-1 {
      position: absolute;
      margin-top: variables.$dropdown-gap;
      top: unset;
      left: 20px;
      right: 20px;
      margin-inline: auto;
      width: fit-content;
      max-width: 1140px;
    }
  }
}

ul.primary-navigation.expanded ul.sub-menu.level-1 {

  & a {
    text-align: center !important;
  }

 @include mixins.caret();
  position: absolute;
  left: unset;
  margin-top: variables.$dropdown-gap;
  margin-right: variables.$mega-menu-padding;
  &.sub-menu-left-align ul.sub-menu.level-2 {
    left: unset;
    right: 100%;
    /*     right: calc(100% + variables.$dropdown-gap);
    &::before {
      @include pseudo-spacer(
        $top: 0,
        $right: -variables.$dropdown-gap,
        $width: variables.$dropdown-gap,
        $height: 100%
      );
    } */
  }
}

ul.primary-navigation.expanded ul.sub-menu.level-2 {
  top: 0;
  left: calc(100%);
  /*   left: calc(100% + variables.$dropdown-gap);
  &::after {
    @include pseudo-spacer(
      $top: 0,
      $left: -variables.$dropdown-gap,
      $width: variables.$dropdown-gap,
      $height: 100%
    );
  } */
}
