.page-header {
  padding: 1rem;
  background: $secondary-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  background-color: #004d68;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
